ion-content {
    --ion-background-color: linear-gradient(#403A3E, #BE5869);
}

ion-toolbar {
    --ion-background-color: #403A3E;
    color: #FFFFFF;
    text: center;
}

ion-item {
    --ion-background-color: transparent!important;
}

.padding {
    padding: 10%;
}