<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>


        <ion-title>
            <h2>Calendrier {{ currentMonth }}</h2>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="logo">

        <calendar id="myCalendar" locale="fr-FR" calendarMode="month" step="30" startingDayWeek="1" [currentDate]="currentDate" (onTitleChanged)="onViewTitleChanged($event)">
        </calendar>
    </div>
</ion-content>