<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>


        <ion-title>
            <h1>EPI</h1>
            <div class="logo">
                <ion-icon name="school"></ion-icon>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label color="light">
            <h5>École pluridisciplinaire internationale</h5>
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            <h5>MY EPI</h5>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            <h5>episoussetunis@gmail.com</h5>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            <h5>73 867 670</h5>
        </ion-label>
    </ion-item>

    <ion-card-content>
        <ion-img src="assets/images/logo.jpg"></ion-img>
        <ion-img src="assets/images/location.jpg"></ion-img>
    </ion-card-content>


</ion-content>